<div class="post-list">
	<h3 class="second-title">投稿一覧</h3>
	<%= link_to "戻る", root_path, class: :return %>
	<div class="item-contents">
		<% @prototypes.each do |prototype|%>
		<div class="photo-img">
			<%= image_tag prototype.image, class: "item-img" if prototype.image.attached? %>
			<%= link_to "削除", prototype_path(prototype.id), method: :delete, class:"item-destroy"%>
			<%= link_to "編集", edit_prototype_path(prototype.id), method: :get, class:"item-edit"%>
		</div>
		<% end %>
	</div>
</div>
